.primaryBox {
  display: flex;
  flex-direction: row;
  height: 87vh;
  width: 100%;
}

.friendsListSection {
  width: 25%;
  height: 100%;
  outline: 1px solid black;
  border-radius: 0.5rem;
}

.editingSection {
  width: 75%;
  height: 100%;
  outline: 1px solid black;
  border-radius: 0.5rem;
}

.friendListDisplay {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
}

.addFriendSection {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}